# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Drizzle
# https://supabase.com/docs/guides/database/connecting-to-postgres
DATABASE_URL="postgres://postgres.example_username:example_password@aws-0-us-east-1.pooler.supabase.com:6543/postgres"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Next Auth AWS Provider
# Put your AWS profile name from your .credentials/config here to use it instead of whatever your AWS CLI is configured to use
AWS_PROFILE=""

# Next Auth Stripe Provider
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
PRICE_ID_TEST_100_CREDITS=""
STRIPE_WEBHOOK_SECRET=""